.noteContent {
    width: 98vw;
    height: calc(90vh - 40px);
    overflow-y: auto;
    margin-top: 0;
    .backBtn {
        display: block;
        position: absolute;
        z-index: 10;
        width: 56px;
        height: 56px;
        overflow: hidden;
        outline: none;
        background-color: transparent;
        border: 0;
      }
      
      .backBtn:before,
      .backBtn:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 7px;
      }
      
      .backBtn:before {
        border: 4px solid #F0EEEF;
        transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
      }
      
      .backBtn:after {
        border: 4px solid #96daf0;
        transform: scale(1.3);
        transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
        opacity: 0;
      }
      
      .backBtn:hover:before,
      .backBtn:focus:before {
        opacity: 0;
        transform: scale(0.7);
        transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
      }
      
      .backBtn:hover:after,
      .backBtn:focus:after {
        opacity: 1;
        transform: scale(1);
        transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
      }
      
      .backBtn-box {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .backBtn-elem {
        display: block;
        width: 20px;
        height: 20px;
        margin: 17px 18px 0 18px;
        transform: rotate(180deg);
        fill: #F0EEEF;
      }
      
      .backBtn:hover .backBtn-box,
      .backBtn:focus .backBtn-box {
        transition: .4s;
        transform: translateX(-56px);
      }
      
      
}